#sheep.chew_left {
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_1/__white_sheep_1_eating.png') no-repeat 0 0%;
	background-size: 500%;
	position: fixed;
	left: 35%;
	z-index: 2;
	animation: eatingv 1.5s steps(5) 3, eatingh 0.3s steps(5) 15;
}

#sheep.chew_right {
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_3/__white_sheep_3_eating.png') no-repeat 0 0%;
	background-size: 500%;
	position: fixed;
	left: 35%;
	z-index: 2;
	transform: scaleX(-1);
	animation: eatingv 1.5s steps(5) 3, eatingh 0.3s steps(5) 15;
}

@keyframes eatingv {
	0% { background-position-y: 0%; }
	100% { background-position-y: 121%; }
}

@keyframes eatingh {
	0% { background-position-x: 0%; }
	100% { background-position-x: 125%; }
}

#sheep.grab_left {
	position: fixed;
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_1/__white_sheep_1_transition_to_eat.png') no-repeat 0 0%;
	background-size: 500%;
	left: 35%;
	z-index: 2;
	animation: toeatv 0.55s steps(1), toeath 0.55s steps(4) 2;
	animation-fill-mode: forwards;
}

#sheep.grab_right {
	position: fixed;
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_1/__white_sheep_1_transition_to_eat.png') no-repeat 0 0%;
	background-size: 500%;
	left: 35%;
	z-index: 2;
	transform: scaleX(-1);
	animation: toeatv 0.50s steps(1), toeath 0.50s steps(4) 2;
}

@keyframes toeatv {
     0% { background-position-y:  0%; }
   100% { background-position-y: 90%; }
}

@keyframes toeath {
     0% { background-position-x:   0%; }
   100% { background-position-x: 100%; }
}

#sheep.swallow_left {
	position: fixed;
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_1/__white_sheep_1_eating_transition_end.png') no-repeat 0 0%;
	background-size: 500%;
	left: 35%;
	z-index: 2;
	animation: endeatingv 0.55s steps(1), endeatingh 0.55s steps(4) 2;
	animation-fill-mode: forwards;
}

#sheep.swallow_right {
	position: fixed;
	bottom: 0;
	width: 25%;
	height: 25%;
	padding-bottom: 37px;
	background: url('../spritesheets/white_sheep_1/__white_sheep_1_eating_transition_end.png') no-repeat 0 0%;
	background-size: 500%;
	left: 35%;
	z-index: 2;
	transform: scaleX(-1);
	animation: endeatingv 0.55s steps(1), endeatingh 0.55s steps(4) 2;
	animation-fill-mode: forwards;
}

@keyframes endeatingv {
     0% { background-position-y:  0%; }
   100% { background-position-y: 88%; }
}

@keyframes endeatingh {
     0% { background-position-x:   0%; }
   100% { background-position-x: 100%; }
}