#sheep.idle_left {
	background: left 0% / 500% 500% no-repeat url('../spritesheets/white_sheep_1/__white_sheep_1_idle.png');
	left: 35%;
	animation: idlev 1.5s steps(5) infinite, idleh 0.3s steps(5) infinite;
}

#sheep.idle_right {
	background: left 0% / 500% 500% no-repeat url('../spritesheets/white_sheep_1/__white_sheep_1_idle.png');
	left: 35%;
	transform: scaleX(-1);
	animation: idlev 1.5s steps(5) infinite, idleh 0.3s steps(5) infinite;
}

@keyframes idlev {
	from {
		background-position-y: 0%;
	}
	to {
		background-position-y: 125%;
	}
}

@keyframes idleh {
	from {
		background-position-x: 0%;
	}
	to {
		background-position-x: 125%;
	}
}