#sheep.run_left {
	background: left 0% / 500% 300% no-repeat url('../spritesheets/white_sheep_1/__white_sheep_1_run.png');
	left: 100%;
	animation: runv 0.9s steps(3) infinite, runh 0.3s steps(5) infinite, totheleft 5s infinite linear;
}

#sheep.run_right {
	background: left 0% / 500% 300% no-repeat url('../spritesheets/white_sheep_1/__white_sheep_1_run.png');
  	left: -25%;
  	transform: scaleX(-1);
	animation: runv 0.9s steps(3) infinite, runh 0.3s steps(5) infinite, totheright 5s infinite linear;
}

@keyframes runv {
	  0% { background-position-y:   0%; }
	100% { background-position-y: 141%; }
}

@keyframes runh {
      0% { background-position-x:   0%; }
   	100% { background-position-x: 125%; }
}

@keyframes totheleft {
	100% { left: -25%; }
}

@keyframes totheright {
	100% { left: 100%; }
}